@charset "utf-8";
/* corpo do texto - estilo pq*/
body {width: 98%; max-width: 1280px; margin: auto;}
.soPequeno {display: none;}
.soMedio {display: none;}
.soGrande {display: block;}
/* caixas */

main{
	width:100%;
}

p {
	text-indent: 0.8em;
	line-height: 1.2em;
	font-size: 1.1em;
}

footer{
	width:98%;
}

.acesso{
	width: 10%;
}

.cabecalho {
	width: 98%;
}

.artigo-curso1 {
	width: 20%;
	float: right;
	font-size:1em;
}
article:last-of-type img {margin-bottom: 21.5%;}


#logo{
	width: 5%;
	float: left;
	margin-top: 1.2em;
}

#menu {
	width: 55%;
}

#cursos{
	width:10%;
}
#cursos ul{
	clear: both;
	text-align:center;
    list-style:none;
	padding-top: 70px;
	margin-left: -40px;
}




#menu ul {
    text-align:center;
    list-style:none;
	float: right;
	margin-left: 1.7em;
	margin-top: 1.2em;
	margin-right: -1.8em;
}

#menu ul li {
	display: inline-block;
	font-weight: bolder;
    font-size: .5em;
}

#menu ul li a {
	font-family: times new roman;
    padding: .9em .9em;
    display: inline-block;
    color: #c84b3a;
    text-decoration: none;
	font-weight: bolder;
}